openai
fastapi
uvicorn
slack-bolt
slack-sdk
python-dotenv
chromadb
scikit-learn
prometheus-fastapi-instrumentator
pydantic
slowapi
elasticsearch
transformers
sentence-transformers
--extra-index-url https://download.pytorch.org/whl/cpu
torch
